*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f6f7fb;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    max-width: 400px;
    width: 100%;
}

.container .steps{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.steps .circle{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    color: #999;
    background-color: #f6f7fb;
    border: 4px solid #e0e0e0;
    border-radius: 50%;
    font-size: 22px;
    font-weight: 500px;
    /* cursor: none; */
    transition: all 200ms ease;
    transition-delay: 0s;
}

.steps .circle.active{
    transition-delay: 100ms;
    border-color: #4070f4;
    color: #4070f4;
}

.steps .progress-bar{
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: #e0e0e0;
    z-index: -1;
}

.steps .indicator{
    position: absolute;
    height: 100%;
    width: 0%;
    background: #4070f4;
    transition: all 300ms ease;
}

.container .buttons{
    display: flex;
    gap: 20px;
}

.buttons button{
    padding: 8px 25px;
    background: #4070f4;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    transition: all 200ms linear;
}

.buttons .button:active{
    transform: scale(0.97);
}

.buttons .button:disabled{
    background-color: #87a5f8;
    cursor: not-allowed;
}